#maylily.maylily.ec
    color: steelblue

    body
        background: pink

    input, textarea, select
        font-size: 0.8rem

    select
    	appearance: none
    select
        position: relative
        background: white
        color: dimgrey
        border: 1px solid dimgrey
        padding-right: 2em

    select::after
        content: "v"
        display: inline-block
        position: absolute
        top: 0
        right: 0
        padding: 0.5em 1em
        border-radius: 50%
        border: 1px solid dimgrey
        background: pink
