<section id="brand">

    <section id="rose_darena_brand_story">
        <h1 class="section">Rose Darena Brand Story</h1>
        <div class="section">
            <p class="bold">王侯貴族が愛した「液体の宝石」</p>
        </div>
        <div class="section">
            <p>ブルガリアの春、バラの谷に咲くダマスクローズ。</p>
            <p>香り豊かなそのバラは、ブルガリアンローズと呼ばれます。</p>
        </div>
        <div class="section">
            <p>ブルガリアンローズはローズオイル、ローズウォーターに姿を変え、</p>
            <p>かぐわしい香りと尊い力を留めることができる類まれなるバラです。</p>
        </div>
        <div class="section">
            <p>ローズオイルはその希少さゆえに「液体の宝石」と称され、</p>
            <p>王侯貴族たちに、美と健康と豊かさの象徴として愛されてきました。</p>
            <p>はかりしれない恩恵を与えてくれる、黄金に輝くローズオイルは、</p>
            <p>天からの素晴らしい贈り物です。</p>
        </div>
        <div class="section">
            <p>ブルガリアンローズの恵みを届けたいという想いから、</p>
            <p>「ローズダレーナ」は誕生しました。</p>
        </div>
        <div class="section">
            <p>ローズを最も愛した王妃マリーアントワネットが今ここにいたら……</p>
            <p>「ローズダレーナ」を手に、きっと微笑んでくれることでしょう。</p>
        </div>
    </section><!-- rose_darena_brand_story -->

    <section id="brand_concept">
        <h1 class="section">Brand Concept</h1>
        <div class="section">
            <p>ローズダレーナは、ブルガリアンローズのビューティー＆ヘルスケアブランドです。</p>
        </div>
        <div class="section">
            <p>ブルガリア〈バラの谷〉にある自社指定農場で有機栽培された香り高いダマスクローズ。そのダマスクローズから抽出される上質なローズオイル、ローズウォーターを贅沢に使用。ブルガリアンローズの香りと力を、日本の技術で最大限に活かした製品づくりを心がけています。信頼ある日本製品として、食品の一部は日本農林規格（JAS規格）の厳しい生産基準をクリアし、有機JAS認定を取得。</p>
        </div>
        <div class="section">
            <p>ローズダレーナとは、ブルガリア語で「天から与えられたバラの豊かな恵み」を意味します。健康で美しく、心豊かなライフスタイルを願う方々のために、こだわりのブルガリアンローズをお届けします。</p>
        </div>
    </section><!-- Brand_Concept -->

</section>
